/* Modal */

#modal-grid .ship {
    background-color: black; /* You can use any color or design */
}

dialog {
    outline: 1px solid black;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#modal-grid,
#player-board,
#computer-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
}

#modal-grid div,
#player-board div,
#computer-board div {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    outline: 1px solid black;
}

.hidden {
    display: none;
}

#game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}